*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Lato', sens-serif;
    font-weight: 300;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.header{
    background-image: linear-gradient(rgba(22, 3, 101, 0.8),rgba(0, 0, 0, 0.8)),url(../img/header.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 70px;
    background-attachment: fixed;
}
.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
        
}
 h1{
    color:white;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: 400;
    padding-bottom: 40px;
    
}
.btn:link,
.btn:visited{
    display: inline-block;
    
    text-decoration: none;
    color:white;
    font-size: 2rem;
    border: 2px solid white;
    border-radius: 200px;
    padding: 10px 20px;
    margin-right: 20px;
    transition: background-color 0.5s;
}
.btn:hover,
.btn:active{
    
    color:gray;
    background-color: white;
    
}
.logo{
    width: 10rem;
    margin: 30px 0 0 30px;

}
.main-nav{
    float: right;
    
}
.main-nav li{
    display: inline-block;
    margin: 30px;
    padding-top: 30px;
    padding-bottom: 7px;
    border-bottom: 2px solid white transparant;
    transition: border-bottom .2s;
}
.main-nav li:hover{
    
    border-bottom: 2px solid white ;
    
}
.main-nav li a:link,
.main-nav li a:visited
{
    color: white;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    
}


/**section**/


.icon{
    font-size: 7rem;
    color: #e67e22;
    display: block;
}
h2{
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.4rem;
    font-size: 4rem;
    margin-bottom: 30px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: '';
    margin: 0 auto;
    margin-top: 40px;
    width: 300px;
}

h3{
    font-size: 3rem;
    font-weight: 400;
    margin: 20px 0 ;
}
.box{
    padding: 20px;
   
}
.box p{
    font-size: 2rem;
    line-height: 1.4;
}

/*  section foto */

.foto-list{
   
    list-style: none;
}

.fotos-list li{
    display: block;
    width:25%;
    float:left;
}
.figure-foto{
    
    width: 100%;
    margin:0;
    overflow: hidden;
  background-color: black;
    
    
}
.img-figure{
    width: 100%;
    height: auto;
    transform: scale(1.5);
    transition: transform 0.6s;
    
    opacity: 0.7;
    
    
}
.img-figure:hover{
    width: 100%;
    height: auto;
    transform: scale(1.1);
    opacity: 1;
    
}
/*-----------------*/
/*  Footer         */
/*-----------------*/

footer{
    background-color: #222;
}
.footer-nav{
   list-style: none;
    float: left;
    
}
.social-nav{
   list-style: none;
    float: right;
     
}
.footer-nav li{
    font-size: 2rem;
    display: inline-block;
    margin: 50px 10px 0 10px;
}
.social-nav li{
    font-size: 3rem;
    display: inline-block;
    margin: 50px 25px 0 25px;
}
.footer-nav li:last-child,
.social-nav li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-nav li a:link,
.social-nav li a:visited{
    text-decoration: none;
    color: #888;
    transition: color .2s;
}
.footer-nav li a:hover{
    
    color: #bbb;
}
.ion-social-facebook:hover,
.ion-social-twitter:hover,
.ion-social-googleplus:hover,
.ion-social-instagram:hover{
    transition: color .2s;
}
.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-twitter:hover{
    color: #55acee;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #8a3ab9;
}



.footer-bottom{
    text-align: center;
    font-size: 1.6rem;
    padding: 30px 0;
}
.footer-bottom p{
    color: #888;
}

/*-----------------*/
/*   section-info  */
/*-----------------*/
.section-info{
    padding: 70px 0;
}
.box-info{
   
   
}
.figure-info{
    width: 100%;
    overflow:hidden; 
    margin: 0;
    border-radius: 20px;
    margin: 30px 7px;
}
.img-info{
    width: 100%;
    margin: 0;
    max-height: 400px;
    transform: scale(1.1);
    overflow:hidden; 
     
}
.info-more{
    background-color: #333;
    padding:30px 0;
    text-align: center;
}
.info-more h3{
    font-size: 2.5rem;
    font-weight: 400;
    margin: 20px 0 ;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 25px;
        
}
@media only screen and (max-width:760px){
    h1{
        font-size: 3.3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2rem;
    }
    .info-more h3{
        font-size: 1.7rem;
    }
    .btn-header:link,
    .btn-header:visited{
        margin: 10px 5px 10px 5px;
    }
    .main-nav{
        display: none;
    }
    .logo{
        width: 6rem;
        margin: 30px 0 0 30px;
    }
    .footer-nav{
       float: none;
        
        text-align: center;

    }
    .social-nav{
       float: none;
        text-align: center;
    }
    .footer-nav li{
        font-size: 1.5rem;
       
    }
    .social-nav li{
        font-size: 2rem;
        
    }
}
    


